
            <!-- <div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div> -->
		<div class="modal-body">
		  <div class="size-select">
			  <h2>Small</h2>
			  <div class="exTab1">
			  <ul class="nav nav-pills" style="display:flex; list-style: none;">
			  <li clas="active"><a  data-toggle="tab">small</a></li>
			  <li><a data-toggle="tab">small</a></li>
			  <li><a data-toggle="tab">small</a></li>
			  </ul>
			  </div>
		  </div>
			  <div class="size-select">
			  <h2>Small</h2>
			  <div class="exTab2">
				  <ul class="nav nav-pills" style="display:flex; list-style: none;">
				  <li clas="active"><a data-toggle="tab">small</a></li>
				  <li><a data-toggle="tab">small</a></li>
				  <li><a data-toggle="tab">small</a></li>
				  </ul>
				  </div>
		  </div>
		   <div id="add-remove-div" class="add-remove-div">
			  <h2>Qty.</h2>
				   <button type="button" class="btn minus-btn" (click)="decrement()"> <i class="fa fa-minus"></i></button>
				   <input type="text" value="1" id="input_item" readonly="" class="quantity-input" [(ngModel)]="counter">
				   <button type="button" class="btn plus-btn" (click)="increment()"> <i class="fa fa-plus"></i></button>
				   
                  <button class="add_product-modal-btn" *ngIf="isBtn">ADD TO BAG</button>
                  <button class="add_product-modal-btn" *ngIf="!isBtn">ADD TO CART</button>
                    <button class="add_product-modal-btn" >ADD PRODUCT</button>
		   </div> 
		</div>

<!-- <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div> -->