<div class="categories-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="back-page">
					<a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Checkout Page</a>
				</div>	
			</div>	
		</div>		
	</div>	
</div> 

<div class="tabing-form">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
				<h3>Please select an option</h3>
				<div id="exTab1">	
				
				<ul  class="nav nav-pills">
							<li class="active">
						<a  href="#1a" data-toggle="tab">Collect From Store</a>
							</li>
							<li><a href="#2a" data-toggle="tab">Deliver to My Address</a>
							</li>
						</ul>

							<div class="tab-content clearfix">
							  <div class="tab-pane active" id="1a">
								<form class="date-time-form">
									  <input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2020-08-09">
									  <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
									 
									 <div class="text-center">
										 <button class="btn btn-proceed"><a href="">BOOK NOW</a></button>
										</div>
										</form>
								</div>
								<div class="tab-pane" id="2a">
										<h3>Please fill the address</h3>
										
								<div class="profile-form2">
									<form>
											<div class="col-md-12">
												<div class="form-group">
													<input name="flat" id="flate-1" type="text" placeholder="Flat No. / Room No." class="form-control">
												</div>
											</div>
											
											<div class="col-md-12">							
												<div class="form-group">
													<label>Mobile Number</label>
													<input type="text" name="bulding" id="bulding1" placeholder="Building / Apartment / Society / Colony Name" class="form-control">
												</div>
											</div>								
											
											<div class="col-md-12">
												<div class="form-group">
												   <input name="road-name" id="road-name" type="text" placeholder="Road Name" class="form-control">
												</div>
											</div>								

											<div class="col-md-6">
												<div class="form-group">
													<select name="state" id="state" class="form-control">
														<option value="">State</option>
														<option value="maharashtra">Maharashtra</option>
														<option value="bihar">Bihar</option>
														<option value="punjab">Punjab</option>
													  </select> 
												</div>		
											</div>								

											<div class="col-md-6">
												<div class="form-group">
													<select name="city" id="city" form="city-name" placeholder="City">
														<option>City</option>
														<option>Mumbai</option>
													  <option>Delhi</option>
													  <option>Bangalore</option>
													  <option>Hyderabad</option>
													</select>
												</div>	
											</div>								

											<div class="col-md-12">							
												<div class="form-group">
													<input type="text" name="Pincode" id="Pincode" placeholder="Pincode" class="form-control">
												</div>
											</div>	
											
											<div class="col-md-12">
												<div class="save-info">
												<label class="container1">Save this address for future
												  <input type="checkbox">
												  <span class="checkmark"></span>
												</label>										
												</div>
											</div>
											
											<div class="col-md-12">
												<div class="pay-method">
												<h3>Payment Method</h3>
												<label class="checkcontainer">CASH/UPI on delivery
												  <input type="radio" name="radio">
												  <span class="radiobtn"></span>
												</label>	
												
												</div>
											</div>											
											

											<div class="col-md-12">
												<div class="text-center">
													<a href="order-placed.html"><button id="send-msg" class="btn default-submit" type="submit">Book Now</button></a></div>
											</div>	
										</form>
										</div>										
										
								</div>
						</div>
				  </div>
			</div>
		</div>
	</div>
</div>