<div class="categories-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="back-page">
					<a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>Category Page</a>
				</div>	
				
				<div class="sub-categories-page">
				<a [routerLink]="['/sub-categories']" ><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>Sub Category Name</h2>
							<p>25 Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div>	</a>

					<a [routerLink]="['/sub-categories']"><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>Sub Category Name</h2>
							<p>25 Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div>	</a>

					<a [routerLink]="['/sub-categories']"><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>Sub Category Name</h2>
							<p>25 Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div>	</a>

					<a [routerLink]="['/sub-categories']"><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>Sub Category Name</h2>
							<p>25 Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div></a>

					<a [routerLink]="['/sub-categories']"><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>Sub Category Name</h2>
							<p>25 Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div>	</a>
					<a [routerLink]="['/sub-categories']"><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>Sub Category Name</h2>
							<p>25 Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div>	</a>
					
					</div>
				</div>
				
			</div>		
</div>	