
<div class="categories-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="back-page">
					<a [routerLink]="['/categories']"><i class="fa fa-angle-left" aria-hidden="true"></i>Category Page</a>
				</div>	
				
				<div class="sub-categories-page">
					<ng-container *ngFor="let subcat of subcategorydata;let i=index">
				<a (click)="gotoProducts(subcat.id,subcat.subcategory_name)" ><div class="sub-categories-page1">
						<div class="sub-categories-product-heading">
							<h2>{{subcat.subcategory_name}}</h2>
							<p>{{subcat.no_of_products}} Products</p>
						</div>
						<div class="sub-categories-product-arrow">
							<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
						
					</div>	</a>
				</ng-container>
					
					</div>
				</div>
				
			</div>		
</div>	
<app-footer></app-footer>