<div class="my-cart-product">
	<div class="container">
		<div class="row">
			<div class="col-md-12">	
				<div class="my-cart">	
					<h2>Products</h2>
				</div>
            </div>
            <div class="col-md-12 text-center">
            <img class="empty-img" src="../../assets/img/no_products.png">
            </div>
            <div class="col-md-12 text-center">
                <button class="btn proceed-empty"><a [routerLink]="['/in',username]">Back to Shopping</a></button>
            </div>
			
		</div>
	</div>	
</div> 
<app-footer></app-footer>