<div class="my-cart-product">
	<div class="container">
		<div class="row">
			<div class="col-md-12">	
				<div class="my-cart">	
					<h2>My Cart</h2>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="full-seleve">
					<div class="col-md-2 col-sm-2 col-xs-2">
					
						<div class="cart-img">
							<img src="../../assets/img/product-1.jpg">
						</div>
					</div>
					
					<div class="col-md-10 col-sm-10 col-xs-10">
						<div class="cart-img-price">
							<a class="del-icon" href="#"><img src="../../assets/img/del-icon.png"></a>
							<h3>Full Sleeve Solid Men Jacket</h3>
							<div class="size-pro">
								<small>Size: Small</small>
								<small>Colour: Red</small>
							</div>
							<div class="price-prod">
								<ins>₹900</ins>
								<del>₹1999</del> 
								<small>20% off</small>
								<app-counter-input [counter]="textvalue"></app-counter-input>
							</div>
						</div>
					</div>					
				</div>
				<!------------full-seleve----------------->
				
				<div class="full-seleve">
					<div class="col-md-2 col-sm-2 col-xs-2">
					
						<div class="cart-img">
							<img src="../../assets/img/product-1.jpg">
						</div>
					</div>
					
					<div class="col-md-10 col-sm-10 col-xs-10">
						<div class="cart-img-price">
							<a class="del-icon" href="#"><img src="../../assets/img/del-icon.png"></a>
							<h3>Full Sleeve Solid Men Jacket</h3>
							<div class="size-pro">
								<small>Size: Small</small>
								<small>Colour: Red</small>
							</div>
							<div class="price-prod">
								<ins>₹900</ins>
								<del>₹1999</del> 
								<small>20% off</small>
								<app-counter-input [counter]="textvalue1"></app-counter-input>
							</div>
						</div>
					</div>					
				</div><!------------full-seleve----------------->				
				
				<form>
					<h2>Add Notes</h2>
					<textarea class="message"></textarea>
				</form>
				<form>
					<h2>Add Coupon</h2>
					<div class="apply-input">
					<input class="apply" type="text"><span><button class="btn-apply">Apply Coupon <i class="fa fa-arrow-right"></i></button></span>
				</div>
				</form>
				
				<div class="bill-details">
					<h2>Bill Details</h2>
					<table>
					  <tbody>
						<tr>
						  <td>Item Total</td>
						  <td class="text-right">5000</td>
						</tr>
						<tr>
						  <td>Delivery Charges</td>
						 <td class="text-right">50</td>
						</tr>
					  </tbody>
					  <tfoot>
						<tr>
						  <td>To Pay</td>
						  <td class="text-right">5050</td>
						</tr>
					  </tfoot>
					</table>
				</div>
				
				<div class="text-center">
					<button class="btn btn-proceed">PROCEED</button>
				</div>
				
			</div>
		</div>
	</div>	
</div>	

<div class="margin-top"></div>	
