/* .navbar-btn-badge{
        position: relative;
    width: 20px;
    height: 20px;
    background-color: #e50b20;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    padding: 2px 0;
    left: 5px;
    bottom: 50px;
} */