
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="categories-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="back-page">
					<a [routerLink]="['/category-page']" [queryParams]="{id:category_id}"><i class="fas fa-angle-left" aria-hidden="true"></i>{{subcategory_name}}</a>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="show-product-result">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-list-re">
					<h3>Showing Results of {{productData.length}} products</h3>
				</div>

				<div class="product-list-form">
					<form>
						<input type="text" name="search" placeholder="Search" [(ngModel)]="search">
					</form>
				</div>
			</div>
			<ng-container *ngFor="let product of productData |filter:search;let i=index;">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="recent-product-list">
					<button type="button" class="btn btn-info btn-lg">
						<div class="off-overlay"><small>{{product.discount}}%</small>
							<img (click)="gotoProductDetails(product.id)"  [src]="product.product_img_url">
						</div>
						<div class="product-title">
							<h3><a>{{product.product_name}}</a></h3>
							<div class="price-prod">
								<ins>₹{{product.selling_price}}</ins>
								<del>₹{{product.mrp}}</del>
								<!-- <a class="cart-btn" (click)="loadProductInfo(product.id,product.variations)"> + Add</a> -->
								<a class="cart-btn"  *ngIf="product.cart_added==false"  (click)="loadProductInfo(product.id,product.variations)"> + Add</a>
								<div *ngIf="product.cart_added==true" id="add-remove-div" class="add-remove-div">
									<button type="button" class="btn minus-btn"  (click)="decrementproduct(product.product_count,product.id)"><i class="fa fa-minus"></i></button><input type="text"  id="input_item" readonly="" class="quantity-input ng-pristine ng-valid ng-touched" [(ngModel)]="product.product_count"><button type="button" class="btn plus-btn" (click)="incrementproduct(product.product_count,product.id)"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</button>
				</div>
			</div>
			<div class="modal modalcatadd" *ngIf="isModalShow">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<ng-container *ngFor="let varia of variationKeys">
							<div class="size-select">
								<h2>{{varia}}</h2>
								<div class="exTab1">
									<ul class="nav nav-pills" style="display:flex; list-style: none;">
										<ng-container *ngFor="let vd of product.variations">
										<li *ngIf="vd.variation_name==varia">
											<a (click)="selectvariation(vd.id,vd.variation_name)" data-toggle="tab" >
												{{vd.variation_value}}
											</a>
										</li>
									</ng-container>
										<!-- <li><a data-toggle="tab">small</a></li>
										<li><a data-toggle="tab">small</a></li> -->
									</ul>
								</div>
							</div>
						</ng-container>
							<!-- <div class="size-select">
								<h2>Small</h2>
								<div class="exTab2">
									<ul class="nav nav-pills" style="display:flex; list-style: none;">
										<li clas="active"><a data-toggle="tab">small</a></li>
										<li><a data-toggle="tab">small</a></li>
										<li><a data-toggle="tab">small</a></li>
									</ul>
								</div>
							</div> -->
							<div id="add-remove-div" class="add-remove-div">
								<h2>Qty.</h2>
								<button type="button" class="btn minus-btn" (click)="decrement(product.product_count,product.id)"> <i
										class="fa fa-minus"></i></button>
								<input type="text" value="1" id="input_item" readonly="" class="quantity-input"
								[(ngModel)]="product.product_count">
								<button type="button" class="btn plus-btn" (click)="increment(product.product_count,product.id)"> <i
										class="fa fa-plus"></i></button>
								<div class="bag-button">
							
								<button class="add_product-modal-btn" (click)="addproducttoCart(product.product_count)" *ngIf="isBtn">ADD TO CART</button>
					
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="backdrop" *ngIf="isModalShow" (click)="backDrop()"></div>
			</ng-container>
			<!-- <div class="col-md-3 col-sm-3 col-xs-6">
				<div class="recent-product-list">
					<button type="button" class="btn btn-info btn-lg">
						<div class="off-overlay"><small>20%</small>
							<img [routerLink]="['/product-details']" src="../../assets/img/product-1.jpg">
						</div>
						<div class="product-title">
							<h3><a>Product Title is short...</a></h3>
							<div class="price-prod">
								<ins>₹900</ins>
								<del>₹1999</del>
								<a class="cart-btn" *ngIf="!counter" (click)="open()"> + Add</a>
								<div *ngIf="counter" id="add-remove-div" class="add-remove-div">
									<button type="button" class="btn minus-btn"  (click)="decrementproduct()"><i class="fa fa-minus"></i></button><input type="text"  id="input_item" readonly="" class="quantity-input ng-pristine ng-valid ng-touched" [(ngModel)]="counter"><button type="button" class="btn plus-btn" (click)="incrementproduct()"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</button>
				</div>
			</div> -->
			<!-- <div class="col-md-3 col-sm-3 col-xs-6">
				<div class="recent-product-list">
					<button type="button" class="btn btn-info btn-lg">
						<div class="off-overlay"><small>20%</small>
							<img [routerLink]="['/product-details']" src="../../assets/img/product-1.jpg">
						</div>
						<div class="product-title">
							<h3><a>Product Title is short...</a></h3>
							<div class="price-prod">
								<ins>₹900</ins>
								<del>₹1999</del>
								<a class="cart-btn" *ngIf="!counter" (click)="open()"> + Add</a>
								<div *ngIf="counter" id="add-remove-div" class="add-remove-div">
									<button type="button" class="btn minus-btn"  (click)="decrementproduct()"><i class="fa fa-minus"></i></button><input type="text"  id="input_item" readonly="" class="quantity-input ng-pristine ng-valid ng-touched" [(ngModel)]="counter"><button type="button" class="btn plus-btn" (click)="incrementproduct()"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</button>
				</div>
			</div> -->

			<!-- <div class="col-md-3 col-sm-3 col-xs-6">
				<div class="recent-product-list">
					<button type="button" class="btn btn-info btn-lg">
						<div class="off-overlay"><small>20%</small>
							<img [routerLink]="['/product-details']" src="../../assets/img/product-1.jpg">
						</div>
						<div class="product-title">
							<h3><a>Product Title is short...</a></h3>
							<div class="price-prod">
								<ins>₹900</ins>
								<del>₹1999</del>
								<a class="cart-btn" *ngIf="!counter" (click)="open()"> + Add</a>
								<div *ngIf="counter" id="add-remove-div" class="add-remove-div">
									<button type="button" class="btn minus-btn"  (click)="decrementproduct()"><i class="fa fa-minus"></i></button><input type="text"  id="input_item" readonly="" class="quantity-input ng-pristine ng-valid ng-touched" [(ngModel)]="counter"><button type="button" class="btn plus-btn" (click)="incrementproduct()"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</button>
				</div>
			</div> -->
		</div>
	</div>
</div>


<!-- Custom -->


<app-footer></app-footer>