/* .modal-body {
    position: relative;
    padding: 10px 5px 0px 5px;
    top: 50px!important;
    margin-bottom: -5%;
} */
.modal-dialog {
    width: 100% !important;
}
.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}
.modalcatadd {
    display: block;
}

.navbar-btn-badge {
    position: absolute;
    width: 20px !important;
    height: 20px;
    background-color: #e50b20;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    padding: 2px 0;
    top: 0px;
    left: 69%;
}
@media screen and (max-width: 500px) {
    .navbar-btn-badge {
        width: 15px !important;
        height: 15px;
        font-size: 12px;
        padding: 0px 0px;
    }
}

.img-categories{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ddd;
  }