<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="my-cart-product">
<div class="container">
<div class="row">
<div class="col-md-6">
<h4 class="my-add">My Address</h4>
</div>
<div class="col-md-6 text-right">
<button class="btn btn-proceed">Add New</button>
</div>
</div>
<div class="row"> 
<div class="col-md-12 card">
<div class="card-body">
<div class="container">
    <label for="d3_graph_chart0017day">
        <input type="radio" name="date_range" id="d3_graph_chart0017day" value="7day">
        <span>Shreyash Shah</span>
        <p class="add">A 205, Akshar Kandivali West</p>
      </label>
      <div class="dropdown-container" tabindex="-1">
        <div class="test"></div>
        <div class="dropdown">
          <a href="#"><div><span><i class="fa fa-edit"></i>Edit</span></div></a>
          <a href="#"><div><span><i class="fa fa-trash"></i>Delete</span></div></a>
        </div>
      </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="margin-top"></div>	
<app-footer></app-footer>