.card{
    border-radius: 4px;
    border: 1px #ddd solid;
    box-shadow:1px 0px 2px 1px lightgrey;
    background-color: #fff;
    height:150px;
    margin-top:30px;
}
.add-new{
    margin-top:10px;
}
label {
  font-weight: normal;
  font-size: 14px;
  Font-Family: Metric-Regular;
  Color: #666666;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 15%;
  font-family: 'apercu', sans-serif;
  left: 20px;
  }
  [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.10em;
    border-radius: 1em;
    border: 0.35em solid #fff;
    box-shadow: 0 0 0 0.10em #36B18D;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }
  [type="radio"]:checked + span:before {
    background: #36B18D;
    box-shadow: 0 0 0 0.10em #36B18D;
  }
  [type="radio"]:focus + span::after {
    font-size: 1.2em;
    line-height: 1;
    vertical-align: -0.125em;
    font-family:'apercu',sans-serif;
  }
.add{
  font-family: 'apercu',sans-serif;
  padding-top: 3px;
  line-height:14px;
  font-size: 16px;
}
.test:after {
    content: '\2807';
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #333;
  }

.fa-edit{
    margin-right:10px;
    font-size:14px;
}
.fa-trash{
    margin-right:10px;
    font-size:14px;
}
  a div {
    padding: 5px;
    font-family:'apercu',sans-serif;
  }
  
  .dropdown {
    position: absolute;
    right: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px #3333;
    outline: none;
    opacity: 0;
    z-index: -1;
    width:100px;
    max-height: 0;
    
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
}
.dropdown span{
    padding:5px;
    font-family:'apercu',sans-serif;
}
.my-add{
    padding-top:25px;
    margin: 0px;
}
.btn-proceed{
  margin-top:15px;
}
.test{
  text-align: right;
}

@media screen and (max-width:767px){
  .card{
    width: 95%;
    margin: 8px;
    height:120px;
  }
  .test{
    position: relative;
    left:30px;
  }
  .btn-proceed{
    margin-top: 0px;
    position: relative;
    bottom: 30px;
  }
  [type="radio"] + span:before{
    position: relative;
    top: 22px;
    right: 10px;
  }
}
@media  screen and (max-width:500px){
  .add{
    font-family: 'apercu',sans-serif;
    padding-top: 3px;
    line-height: 5px;
    font-size: 13px;
  } 
}