<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="my-cart-product">
<div class="container">
<div class="row">
<div class="col-md-6">
<h4 class="my-add">My Address</h4>
</div>
<div class="col-md-6 text-right">
<button class="btn btn-proceed" (click)="addNewAddress()">Add New</button>
</div>
</div>
<div class="row"> 
  <ng-container *ngFor="let address of addressData ;let i=index;">
<div class="col-md-12 card">
<div class="card-body">
    <label for="d3_graph_chart0017day">
        <p class="add">{{address.flat_no}}, {{address.apartment_name}}, {{address.road_name}}</p>
        <p class="add">{{address.city}}, {{address.state}}-{{address.pincode}}</p>
        <p class="add">+91-{{address.contact_no}}</p>
      </label>
      <div class="dropdown-container" tabindex="-1">
        <div class="test"></div>
        <div class="dropdown">
          <a (click)="gotoEditAddress(address.id)"><div><span><i class="fa fa-edit"></i>Edit</span></div></a>
          <a (click)="addressdelete(address.id)"><div><span><i class="fa fa-trash"></i>Delete</span></div></a>
          <a  *ngIf="showgetAddressOption" (click)="getAddress(address.id)"><div><span><i class="fa fa-trash"></i>getAddress</span></div></a>
        </div>
      </div>
</div>
</div>
</ng-container>
</div>
</div>
</div>
<div class="margin-top"></div>	
<app-footer></app-footer>