input[type="text"]:read-only {
    background: transparent;
  }
  input[type="tel"]:read-only {
    background: transparent;
  }

  input[type="email"]:read-only {
    background: transparent;
  }

  select:disabled{
    background: transparent;
  }

  .profile-heading-page h2{
    color: #1fb055;
  }
  
  .edit{
    padding: 0px 20px;
    color: #fff!important;
    background: #1fb055;
    border: none;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
  }
  .profile-heading-page a{
    color:#fff;
  }