input[type="text"]:read-only {
    background: transparent;
  }
  input[type="tel"]:read-only {
    background: transparent;
  }

  input[type="email"]:read-only {
    background: transparent;
  }

  select:disabled{
    background: transparent;
  }

  .profile-heading-page h2{
    color: #1fb055;
  }