<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
	<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container customer-details">
	<div class="row">
		<div class="col-md-12">
			<div class="view-google-detalis">
				<div class="clint-img">
					<!-- <img *ngIf="store_logo!='null'" [src]="store_logo"> -->
					<!-- <img [src]=" store_logo !=null ? store_logo : '../../../assets/img/no_image.png' "> -->
					<img [src]=" store_logo == null || store_logo == ''  ? '../../../assets/img/no_image.png' : store_logo ">
				</div>

				<div class="clint-info">
					<ul>
						<li>
							<img class="header-logos" src="./assets/img/icon-1.png">
							<span>{{store_name}}</span>
						</li>
						<li>
							<a [href]=whatsappchat target="_blank" style="color:black;"><img class="header-logos"
									src="../../../assets/img/icon-2.png">
								<span>
									+91-{{usermobile}}
								</span>
							</a>
						</li>
						<li><a [href]="'tel:' + usermobile" style="color:black;"><img class="header-logos"
									src="../../../assets/img/icon-3.png"><span>+91-{{usermobile}}</span></a></li>
						<li>
							<a [href]=storeLocation target="_blank" style="color:black;">
								<img class="header-logos" src="../../../assets/img/icon-4.png">

								<span>Location</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="customer-content">

			</div>
		</div>
	</div>
</div>

<div class="inner-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="serch-bar">
					<form>
						<input type="text" name="search" placeholder="Search" [(ngModel)]="search"
							(change)="searhcProductbySearch()">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="demo2">
                <div class="span12">

                    <div id="owl-demo2" class="owl-carousel">

                        <div class="item">
                            <div class="product-grid-1">
								<a href="#"><img src="../../../assets/img/product-1.jpg"></a>
								
								<h1><a href="#">Clothing</a></h1>
								
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-grid-1">
								<a href="#"><img src="../../../assets/img/product-1.jpg">	</a>
								
								<h1><a href="#">Clothing</a></h1>
								
                            </div>
                        </div>

                        <div class="item">
                            <div class="product-grid-1">
								<a href="#"><img src="../../../assets/img/product-1.jpg">	</a>
								
								<h1><a href="#">Clothing</a></h1>
								
                            </div>
                        </div>
						
						
                        <div class="item">
                            <div class="product-grid-1">
								<a href="#"><img src="../../../assets/img/product-1.jpg">	</a>
								
								<h1><a href="#">Clothing</a></h1>
								
                            </div>
                        </div>						
						
                        <div class="item">
                            <div class="product-grid-1">
								<a href="#"><img src="../../../assets/img/product-1.jpg">	</a>
								
								<h1><a href="#">Clothing</a></h1>
								
                            </div>
                        </div>						
						
                        <div class="item">
                            <div class="product-grid-1">
								<a href="#"><img src="../../../assets/img/product-1.jpg">	</a>
								
								<h1><a href="#">Clothing</a></h1>
								
                            </div>
                        </div>						
						

                    </div>
					
					
                    <div class="customNavigation">
                        <a class="btn prev prev2"><img src="../../../assets/img/arrow-left-round.png"></a>
                        <a class="btn next next2"><img src="../../../assets/img/arrow-right-round.png"></a>

                    </div>

                </div>

            </div> -->
<div class="user-blog">
	<div class="container">

		<div class="pro-heading">
			<h2>Categories</h2>
			<a href="#" [routerLink]="['/categories']">View All</a>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="row press-images" id="pressContent">
								<div class="col-md-12">
								  <div class="press-scroll">
										<img class="press1" src="../../../assets/img/product-1.jpg">
										<img class="press2" src="../../../assets/img/product-1.jpg">
										<img class="press3" src="../../../assets/img/product-1.jpg">
										<img class="press4" src="../../../assets/img/product-1.jpg">
										<img class="press5" src="../../../assets/img/product-1.jpg">
										<img class="press5" src="../../../assets/img/product-1.jpg">
										<img class="press5" src="../../../assets/img/product-1.jpg">
										<img class="press5" src="../../../assets/img/product-1.jpg">
	
								  </div>
								</div>
								<div class="button-scroll">
									<button onclick="goLeft()" class="left"><img src="../../../assets/img/arrow-left-round.png">
									</button>
									<button onclick="goRight()" class="right"><img src="../../../assets/img/arrow-right-round.png">
									</button>
								</div>
							  </div> -->
				<!-- 
				<owl-carousel-o [options]="customOptions">
					<ng-container *ngFor="">
						<ng-template carouselSlide>
							<div class="slide">
								<img (click)="gotoSubcategory(cat.id)" [src]="cat.category_img_url">
								<h4 (click)="gotoSubcategory(cat.id)" class="text-center">{{cat.category_name}}</h4>
							</div>
						</ng-template>
					</ng-container>let cat of categorydata;let i=index;
				</owl-carousel-o> -->

				<!-- <owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide *ngFor="let cat of categorydata;let i=index;">
						<img *ngIf="cat.category_img_url!=null" (click)="gotoSubcategory(cat.id)"
							[src]="cat.category_img_url" class="mb-2">
						<img *ngIf="cat.category_img_url==null" (click)="gotoSubcategory(cat.id)"
							src="../../../assets/img/no_image.png" class="mb-2">
						<h6 (click)="gotoSubcategory(cat.id)" class="text-center">{{cat.category_name}}</h6>
					</ng-template>
				</owl-carousel-o> -->

				<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
					<div ngxSlickItem *ngFor="let cat of categorydata;let i=index;" class="slide m-2">
						<img *ngIf="cat.category_img_url!=null" [src]="cat.category_img_url" class="img-categories"
							alt="" (click)="gotoSubcategory(cat.id)">
						<img *ngIf="cat.category_img_url== '' || cat.category_img_url==null"
							src="../../../assets/img/no_image.png" class="p-2 img-categories" alt=""
							(click)="gotoSubcategory(cat.id)">
						<h6 (click)="gotoSubcategory(cat.id)" class="text-center">{{cat.category_name}}</h6>
					</div>
				</ngx-slick-carousel>

				<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
					<div ngxSlickItem *ngFor="let slide of slides" class="slide">
						<img src="{{ slide.img }}" class="p-2" alt="" width="100%">
					</div>
				</ngx-slick-carousel> -->

			</div>
		</div>

	</div>
</div>

<div class="recent-products">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="cat-heading">
					<h2>Recent Products</h2>
				</div>
			</div>

			<div class="row">
				<ng-container *ngFor="let product of recproductData ;let j=index;">
					<div class="col-6 col-md-3">

						<button type="button" class="btn bg-transparent w-100">

							<div class="off-overlay"><small>{{product.discount}}%</small>
								<img *ngIf="product.product_img_url!=null" (click)="gotoProductDetails(product.id)"
									[src]="product.product_img_url" class="img-categories">
								<img *ngIf="product.product_img_url == '' || product.product_img_url == null"
									(click)="gotoProductDetails(product.id)" src="../../../assets/img/no_image.png"
									class="img-categories">

							</div>

							<div class="text-left mt-3 home-product">
								<p class="text-truncate" style="max-width: 150px;"><a>{{product.product_name}}</a></p>
							</div>

							<div class="d-flex align-items-center justify-content-between price-prod">

								<div>
									<ins>₹{{product.selling_price}}/{{product.product_type_name}}</ins>
								</div>

								<div>
									<del>₹{{product.mrp}}</del>
								</div>


							</div>
							<div class="text-left">
								<a class="cart-btn btn"
									(click)="loadProductInfo(product.id,product.variations,product)">Add</a>
							</div>

						</button>

					</div>
					<div class="modal modalcatadd" *ngIf="isModalShow">
						<div class="modal-dialog">
							<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"
									(click)="closepop()">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="modal-body">
									<ng-container *ngIf="variationKeys.length==2">
										<div class="size-select">
											<h2>{{variationname1}}</h2>
											<div class="exTab1">
												<ul class="nav nav-pills" style="display:flex; list-style: none;">
													<ng-container *ngFor="let vd of variation1">
														<li [ngClass]="vd.id === activeElement1 ? 'active' : 'none'">
															<a (click)="selectvariation(vd.id,vd.variation_name);setActiveVar1(vd.id)"
																data-toggle="tab">
																{{vd.variation_value}}
															</a>
														</li>
													</ng-container>
													<!-- <li><a data-toggle="tab">small</a></li>
											<li><a data-toggle="tab">small</a></li> -->
												</ul>
											</div>
										</div>
										<div class="size-select">
											<h2>{{variationname2}}</h2>
											<div class="exTab1">
												<ul class="nav nav-pills" style="display:flex; list-style: none;">
													<ng-container *ngFor="let vd of variation2">
														<li [ngClass]="vd.id === activeElement2 ? 'active' : 'none'">
															<a (click)="selectvariation(vd.id,vd.variation_name);setActiveVar2(vd.id)"
																data-toggle="tab">
																{{vd.variation_value}}
															</a>
														</li>
													</ng-container>
													<!-- <li><a data-toggle="tab">small</a></li>
											<li><a data-toggle="tab">small</a></li> -->
												</ul>
											</div>
										</div>
									</ng-container>
									<ng-container *ngIf="variationKeys.length==1">
										<div class="size-select">
											<h2>{{variationname1}}</h2>
											<div class="exTab1">
												<ul class="nav nav-pills" style="display:flex; list-style: none;">
													<ng-container *ngFor="let vd of variation1">
														<li [ngClass]="vd.id === activeElement1 ? 'active' : 'none'">
															<a (click)="selectvariation(vd.id,vd.variation_name);setActiveVar1(vd.id)"
																data-toggle="tab">
																{{vd.variation_value}}
															</a>
														</li>
													</ng-container>
													<!-- <li><a data-toggle="tab">small</a></li>
											<li><a data-toggle="tab">small</a></li> -->
												</ul>
											</div>
										</div>

									</ng-container>
									<!-- <div class="size-select">
										<h2>Small</h2>
										<div class="exTab2">
											<ul class="nav nav-pills" style="display:flex; list-style: none;">
												<li clas="active"><a data-toggle="tab">small</a></li>
												<li><a data-toggle="tab">small</a></li>
												<li><a data-toggle="tab">small</a></li>
											</ul>
										</div>
									</div> -->
									<div class="row add-remove-div mb-3">
										<div class="col-md-6">
											<div style="width: 100px;">
												<h2 style="font-size: 19px;">Qty.</h2>
												<div class="input-group add-cart-input">
													<div class="input-group-prepend">
														<button class="btn btn-outline-secondary-green"
															(click)="decrement(product.product_count,product.id)"
															type="button"><i class="fas fa-minus"></i></button>
													</div>
													<input type="text" value="1" id="input_item" readonly=""
														class="form-control qty-input text-center"
														[(ngModel)]="product.product_count" placeholder="1">
													<!-- <input type="text" readonly="" id="input_item"
														class="form-control qty-input text-center" placeholder="1"
														aria-label="1" aria-describedby="basic-addon2"
														[(ngModel)]="product.product_count"> -->
													<div class="input-group-append">
														<button class="btn btn-outline-secondary-green"
															(click)="increment(product.product_count,product.id)"
															type="button"><i class="fas fa-plus"></i></button>
													</div>
												</div>
											</div>
										</div>
										<div class="bag-button col-md-6 text-right">

											<button class="add_product-modal-btn"
												(click)="addproducttoCart(product.product_count)" *ngIf="isBtn">ADD TO
												CART</button>

										</div>
									</div>
									<!-- <div id="add-remove-div" class="add-remove-div">
										<h2>Qty.</h2>
										<button type="button" class="btn minus-btn" (click)="decrement(product.product_count,product.id)"> <i
												class="fa fa-minus"></i></button>
										<input type="text" value="1" id="input_item" readonly="" class="quantity-input"
										[(ngModel)]="product.product_count">
										<button type="button" class="btn plus-btn" (click)="increment(product.product_count,product.id)"> <i
												class="fa fa-plus"></i></button>
										<div class="bag-button">
									
										<button class="add_product-modal-btn" (click)="addproducttoCart(product.product_count)" *ngIf="isBtn">ADD TO CART</button>
							
									</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="backdrop" *ngIf="isModalShow" (click)="backDrop()"></div>
				</ng-container>
			</div>

			<!-- <ng-container *ngFor="let product of recproductData ;let j=index;">
				<div class="col-md-3 col-sm-3">
					<div class="recent-product-list">
						<button type="button" class="btn btn-info btn-lg">
							<div class="off-overlay"><small>{{product.discount}}%</small>
								<img (click)="gotoProductDetails(product.id)" [src]="product.product_img_url">
							</div>
							<div class="product-title">
								<h3><a>{{product.product_name}}</a></h3> -->
			<!-- <div class="d-flex align-items-center">

									<div>
										<ins>₹{{product.selling_price}}</ins>
									</div>

									<div>
										<del>₹{{product.mrp}}</del>
									</div>

									<div>
										<a class="cart-btn btn" (click)="loadProductInfo(product.id,product.variations)"><i
											class="fas fa-plus mr-2"></i>Add</a>
									</div>
									
								</div> -->
			<!-- 
								<div class="price-prod">
									<ins>₹{{product.selling_price}}</ins>
									<del>₹{{product.mrp}}</del>
									<a class="cart-btn btn" (click)="loadProductInfo(product.id,product.variations)"><i
											class="fas fa-plus mr-2"></i>Add</a> -->

			<!-- <a class="home-cart-btn" *ngIf="!counter" (click)="open()"> + Add</a>
								<div *ngIf="counter" id="add-remove-div" class="add-remove-div">
									<button type="button" class="btn minus-btn"  (click)="decrementproduct()"><i class="fa fa-minus"></i></button><input type="text"  id="input_item" readonly="" class="quantity-input ng-pristine ng-valid ng-touched" [(ngModel)]="counter"><button type="button" class="btn plus-btn" (click)="incrementproduct()"><i class="fa fa-plus"></i></button>
								</div> -->
			<!-- </div>
							</div>
						</button>
					</div>
				</div>
			</ng-container> -->

		</div>
	</div>
</div>

<!-- Custom -->

<footer>
	<div class="bootom-menu">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="bottom-menu-list" id="bottom-menu">
						<ul>
							<li class="home-footer">
								<a [routerLink]="['/in',username]" routerLinkActive="active-link"
									[routerLinkActiveOptions]="{exact: true}" (click)="getCurrentPath()">
									<img id="my-img" src="../../assets/img/home.png">
									<span>Home</span>
								</a>



							</li>
							<li class="home-footer2">
								<a [routerLink]="['/categories']" routerLinkActive="active-link"
									(click)="getCurrentPath()">
									<img id="my-img" src="../../assets/img/home2.png">
									<span>Category</span>
								</a>
							</li>
							<li class="home-footer5">
								<a [routerLink]="['/order']" routerLinkActive="active-link" (click)="getCurrentPath()">
									<img id="my-img" src="../../assets/img/home4.png">
									<span>Orders</span>
								</a>
							</li>
							<li class="home-footer3">
								<a [routerLink]="['/add-cart']" routerLinkActive="active-link"
									(click)="getCurrentPath()">
									<img id="my-img" src="../../assets/img/home3.png">
									<span class="navbar-btn-badge" *ngIf="cartcounter">{{cartcounter}}</span>
									<span> Cart</span>
								</a>
							</li>
							<li class="home-footer4">
								<a [routerLink]="['/profile']" routerLinkActive="active-link"
									(click)="getCurrentPath()">
									<img id="my-img" src="../../assets/img/home5.png">
									<span>Profile</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="margin-top"></div>
</footer>