::ng-deep .owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

::ng-deep .owl-carousel .prev-slide {
  background: url(../../../assets/img/arrow-left-round.png) no-repeat scroll 0 0;
  left: -33px;
}

::ng-deep .owl-carousel .next-slide {
  background: url(../../../assets/img/arrow-right-round.png) no-repeat scroll 0px 0px;
  right: -38px;
}

::ng-deep .owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}

::ng-deep .owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}
::ng-deep .owl-carousel {
    width: 100% !important;
    /* margin: 30px auto; */
  }
  
  ::ng-deep .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
  
  ::ng-deep .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 35px;
    cursor: pointer;
    top: 40% !important;
  }
::ng-deep .modal-dialog{
  width:100%!important;
}
::ng-deep.modal-body{padding-top: 0;padding-bottom:0;}
::ng-deep.backdrop{position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; background: rgba(0,0,0,.5);}
::ng-deep.modalcatadd{display: block;}

@media screen and (max-width:500px){
    ::ng-deep .owl-carousel .nav-btn{
    display: none;
}

  }
