<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="ordee_details">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="back-page">
					<a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>Order Page</a>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="order-id-no">
					<div class="Order-ID-no1">
						<p>Order ID: #{{orderInfo.order_id}}</p>
						<div class="order-date">
						<strong>{{orderInfo.order_date}}</strong>
					</div>
					</div>
					<div class="customer_id-name">
						<p>{{orderInfo.customer_name}}</p>
						<span>+91 - {{orderInfo.customer_contact_no}}</span>
					</div>
					
					<!-- <div class="order-status">
						<div id="content1"> -->
						  <!-- <ul class="timeline">
							<li class="event" data-date="12:30 - 1:00pm">
							  <h3>Accepted</h3>
							  <p>15/10/2020 <span>04:00 PM</span></p>
							</li>
							<li class="event" data-date="2:30 - 4:00pm">
							  <h3>Delivered</h3>
							  <p>15/10/2020 <span>04:00 PM</span></p>   
							</li>
						  </ul> -->
						  <!-- <li id="step1" class="step step--incomplete step--inactive">
							<span class="step__icon delivered"></span>
							<span class="step__label">
							  <h5>Placed</h5>
							  <p>{{orderInfo.order_date}} <span>{{orderInfo.order_time}}</span></p> 
							</span>
						  </li> -->
						  <!-- <ul class="steps">
							<li id="step1" class="step step--incomplete step--active" data-date="12:30 - 1:00pm">
							  <span class="step__icon"></span>
							  <span class="step__label">
								<h5>Accepted</h5>
								<p>{{orderInfo.order_date}} <span>{{orderInfo.order_time}}</span></p> 
							  </span>
							</li>
							<li id="step1" class="step step--incomplete step--inactive">
							  <span class="step__icon delivered"></span>
							  <span class="step__label">
								<h5>Delivered</h5>
								<p>{{orderInfo.order_date}} <span>{{orderInfo.order_time}}</span></p> 
							  </span>
							</li>
						  </ul>-->
						  <ul class="events">
							<li>
								<time datetime="10:03"></time> 
								<span>Order Placed</span></li>
							  <li>
								<time></time> 
								<span>Accepted</span></li>
								<li>
									<time></time> 
									<span>Deliverd</span></li>
							
						  </ul>
						<!-- </div>
					</div> -->
					
					<!-- <div class="total-table">
						<table>
							  <tbody>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td class="title"><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td class="title"><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>

								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td ><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>

							  </tbody>
							  <tfoot class="total-1">
								<tr class="tatal-11">
								  <td>Total</td>
								  <td></td>
								  <td></td>
								  <td>$2500</td>
								</tr>
								<tr class="tatal-12">
								  <td>Delivery Charge</td>
								  <td></td>
								  <td></td>								  
								  <td>50</td>
								</tr>
								<tr class="tatal-13">
								  <td>Total Amount </td>
								  <td></td>
								  <td></td>								  
								  <td class="amout-color">2550</td>
								</tr>
							  </tfoot>						  
						</table>
					</div> -->
					<div class="row">
					<div class="col-md-12">
					<h4>ITEMS</h4>
					</div>
					</div>
					<ng-container *ngFor="let order of orderItems;let i=index;">
					<div class="full-seleve1" style="padding:5px;">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="product-img">
								<img  [src]="order.product_img_url">
							</div>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10">
							<div class="cart-img-pricing">
								<h3>{{order.product_name}}</h3>
								<div class="size-pro">
									<ng-container *ngFor="let variants of order.variations;let j=index;">
										<small>{{variants.variation_name}}: {{variants.variation_value}}</small>
										</ng-container>
								</div>
								<div class="price-product">
								<strong class="quantity">Quantity: {{order.qty}}</strong>
									<small class="prod-amount">{{order.product_selling_price}}</small>
								</div>
							</div>
						</div>	
					</div>
				</ng-container>
				
					<div class="delivery-mode">
						<h2>Delivery Mode : {{orderInfo.delivery_mode}}</h2>
						<p *ngIf="orderInfo.delivery_mode=='Pickup'">Date: {{orderInfo.collecting_date}}  &nbsp; &nbsp; &nbsp; Time: {{orderInfo.collecting_time}}</p>
						<p *ngIf="orderInfo.delivery_mode=='Delivery'">{{orderInfo.delivery_address}}</p>
					</div>


					<!-- <div class="delivery-mode">
						<h2>Delivery Mode : Delivery</h2>
						
					</div>
					 -->
				</div>
			</div>			
			
		</div>
	</div>
</div>
<app-footer></app-footer>