<div class="ordee_details">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="back-page">
					<a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>Order Page</a>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="order-id-no">
					<div class="Order-ID-no1">
						<p>Order ID: #123-45678</p>
						<div class="order-date">
						<strong>15/10/2020</strong>
					</div>
					</div>
					<div class="customer_id-name">
						<p>Shreyas Shah</p>
						<span>+91 - 8080298760</span>
					</div>
					
					<div class="order-status">
						<div id="content1">
						  <!-- <ul class="timeline">
							<li class="event" data-date="12:30 - 1:00pm">
							  <h3>Accepted</h3>
							  <p>15/10/2020 <span>04:00 PM</span></p>
							</li>
							<li class="event" data-date="2:30 - 4:00pm">
							  <h3>Delivered</h3>
							  <p>15/10/2020 <span>04:00 PM</span></p>   
							</li>
						  </ul> -->
						  <ul class="steps">
							<li id="step1" class="step step--incomplete step--active" data-date="12:30 - 1:00pm">
							  <span class="step__icon"></span>
							  <span class="step__label">
								<h5>Accepted</h5>
								<p>15/10/2020 <span>04:00 PM</span></p>
							  </span>
							</li>
							<li id="step1" class="step step--incomplete step--inactive">
							  <span class="step__icon delivered"></span>
							  <span class="step__label">
								<h5>Delivered</h5>
								<p>15/10/2020 <span>04:00 PM</span></p> 
							  </span>
							</li>
						  </ul>						  
						</div>
					</div>
					
					<!-- <div class="total-table">
						<table>
							  <tbody>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td class="title"><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>
								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td class="title"><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>

								<tr>
								  <td class="prod-img"><img src="../../assets/img/product-1.jpg"></td>
								  <td ><h2>Product Title</h2> <p>Size: L Color: Black</p></td>
								   <td>X2</td>
								   <td>500</td>
								</tr>

							  </tbody>
							  <tfoot class="total-1">
								<tr class="tatal-11">
								  <td>Total</td>
								  <td></td>
								  <td></td>
								  <td>$2500</td>
								</tr>
								<tr class="tatal-12">
								  <td>Delivery Charge</td>
								  <td></td>
								  <td></td>								  
								  <td>50</td>
								</tr>
								<tr class="tatal-13">
								  <td>Total Amount </td>
								  <td></td>
								  <td></td>								  
								  <td class="amout-color">2550</td>
								</tr>
							  </tfoot>						  
						</table>
					</div> -->
					<div class="row">
					<div class="col-md-12">
					<h4>ITEMS</h4>
					</div>
					</div>
					<div class="full-seleve1" style="padding:5px;">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<div class="product-img">
								<img  src="../../assets/img/product-1.jpg">
							</div>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10">
							<div class="cart-img-pricing">
								<h3>Full Sleeve Solid Men Jacket</h3>
								<div class="size-pro">
									<small>Size: Small</small>
									<small>Colour: Red</small>
								</div>
								<div class="price-product">
								<strong class="quantity">Quantity: 2</strong>
									<small class="prod-amount">500</small>
								</div>
							</div>
						</div>	
					</div>
					
					<div class="delivery-mode">
						<h2>Delivery Mode : Collect From Store</h2>
						<p>Date: 15/10/2020  &nbsp; &nbsp; &nbsp; Time: 05:00 PM</p>
					</div>


					<div class="delivery-mode">
						<h2>Delivery Mode : Delivery</h2>
						<p>A-505, Rajiv Bhavan,</p>
						<p>MG road, Kandivali West,</p>
						<p>Mumbai 400067.</p>
					</div>
					
				</div>
			</div>			
			
		</div>
	</div>
</div>